{% load static %}
{% include "gallery/base.html" %}

{% block content %}
{% if all_bucket %}
  <h3 style="color:grey;">Places of Interest:</h3>
  <!-- <ul> -->
  <!-- <div class="container text-center"> -->
    <div class="col-md-6 text-center" style="float:none;margin:auto;"">
      {% for bucket in all_bucket %}
      <!-- <div class="thumbnail"> -->
        <img src='{{ MEDIA_URL }}{{ bucket.imagefile }}' class="img-responsive img-rounded" style="width:100%">
        <div class="caption">
          <a href="#"class="btn btn-primary btn-sm" role="button">Add Comment</a>
          <!--{% url 'gallery:bucketdetail' bucket.id %}-->
        </div>
      <!-- </div> -->
      {% endfor %}
    </div>
  <!-- </div> -->
  <!-- </ul> -->
{% else %}
  <h3 style="color:grey;">You dont have any images :(</h3>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static "js/myvue.js" %}"></script>
{% endblock %}
