body{
  background: white url("images/bgbg.jpg")
}

.navbar{
  border-radius: 0;
}

.navbar-brand{
  font-family: 'Indie+Flower'; cursive;
}

.vcenter {
  margin: 0 auto;
  background: black;
}

#makemiddle {
  margin-left: auto;
  margin-right: auto;
  background: black;
}
#displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
